langchain
langchain-core
langchain-community
langchain-huggingface
langchain-openai 
langchain-text-splitters
scikit-learn
tqdm
chromadb
bitsandbytes
accelerate
openpyxl
docx
elementpath
huggingface_hub
transformers>=4.35.0
jellyfish
seaborn
gensim
NLTK
matplotlib
tokenizers
sentence-transformers>=4.35.0
gradio>=4.44.0
shutils
pdfplumber
python-docx
nltk
#spacy
faiss-cpu
numpy # Add a stable version of numpy
#wheel  # Add this line to ensure wheel is installed